*{
  padding: 0;
  margin: 0;
  
}

/* bagian main dashboard */

.container{
  position: relative;
  width: 1366px;
  height: 768px;
  
  background: #F1F3F5;
}

.top-bar{
  position: absolute;
  width: 240px;
  height: 64px;
  left: 0px;
  top: 0px;

  background: #FFFFFF;
  box-shadow: 1px 1px 0px #E2E5ED;
}

.side-bar{
  position: absolute;
  width: 240px;
  height: 703px;
  left: 0px;
  top: 65px;

  background: #FFFFFF;
  box-shadow: 1px 0px 0px #E2E5ED;
}

.nav-bar{
  position: absolute;
  width: 1125px;
  height: 64px;
  left: 241px;
  top: 0px;
}

/* bagian content dashboard */

.txt-user-day span{
  font-weight: normal;
  color: rgba(255, 255, 255, 0.5);
}

.txt-app-day span{
  font-weight: normal;
  color: #7D8999
}

.display-user{
  position: absolute;
  width: 241.5px;
  height: 133px;
  left: 269px;
  top: 88px;
  
  background: linear-gradient(180deg, #39D5D5 0%, #1FABAB 100%);
  border-radius: 8px;
}

.txt-user{
  position: relative;
  width: 200px;
  height: 16px;
  left: 23px;
  top: 20px;
  
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height */

  text-transform: uppercase;
  
  color: #FFFFFF;
}

.txt-user-count{
  position: relative;
  width: 66px;
  height: 29px;
  left: 23px;
  top: 43px;

  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 29px;
  /* identical to box height */

  text-transform: uppercase;

  color: #FFFFFF;
}

.txt-user-day{
  position: relative;
  width: 50px;
  height: 0px;
  left: 163px;
  top: -26px;

  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height */

  text-transform: capitalize;

  color: #FFFFFF;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.user-vector{
  position: absolute;
  width: 243px;
  height: 77px;
  left: 0px;
  top: 57px;
}

.display-app{
  position: absolute;
  width: 241.5px;
  height: 133px;
  left: 544px;
  top: 88px;

  background: #FFFFFF;
  border-radius: 8px;
}

.txt-app{
  position: relative;
  width: 100px;
  height: 16px;
  left: 22px;
  top: 20px;

  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height */

  text-transform: uppercase;

  /* Sea green */

  color: #39D5D5;
}

.txt-app-count{
  position: relative;
  width: 40px;
  height: 29px;
  left: 22px;
  top: 43px;

  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 29px;
  /* identical to box height */

  text-transform: uppercase;

  /* text color */

  color: #001737;
}

.txt-app-day{
  position: relative;
  width: 100px;
  height: 16px;
  left: 162px;
  top: -26px;

  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height */

  text-transform: capitalize;

  /* text color */

  color: #001737;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.app-vector{
  position: absolute;
  width: 243px;
  height: 86.5px;
  left: 0px;
  top: 47.5px;

  /* Sea green */


}

.display-all{
  position: absolute;
  width: 241.5px;
  height: 133px;
  left: 818px;
  top: 88px;

  background: #FFFFFF;
  border-radius: 8px;
}

.display-dict{
  position: absolute;
  width: 241.5px;
  height: 133px;
  left: 1092px;
  top: 88px;
  
  background: #FFFFFF;
  border-radius: 8px;
}

.core-modules{
  position: absolute;
  width: 90px;
  height: 13px;
  left: 29px;
  top: 29px;

  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 13px;
  /* identical to box height */

  text-transform: uppercase;

  /* text color */

  color: #001737;
}

.side-menu{

  /* Sea green font */
}

.side-menu p{
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
  color: #001737;
}

.side-menu p:hover{
  color: #39D5D5;
  cursor: pointer;

}

.menu-dashboard{
  position: absolute;
  width: 69px;
  height: 18px;
  left: 63px;
  top: 59px;
}

.menu-dictation{
  position: absolute;
  width: 57px;
  height: 18px;
  left: 63px;
  top: 96px;
}

.menu-users{
  position: absolute;
  width: 36px;
  height: 18px;
  left: 63px;
  top: 133px;
}

.menu-appointment{
  position: absolute;
  width: 83px;
  height: 18px;
  left: 63px;
  top: 170px;
}

.menu-symptoms{
  position: absolute;
  width: 68px;
  height: 18px;
  left: 63px;
  top: 207px;
}

.menu-alerts{
  position: absolute;
  width: 38px;
  height: 18px;
  left: 63px;
  top: 244px;
}

.dashboard-icon{
  position: relative;
  width: 24px;
  height: 24px;
  left: 29px;
  top: 56px;
}

.dictation-icon{
  position: relative;
  width: 24px;
  height: 24px;
  left: 0px;
  top: 93px;
}

.user-icon{
  position: absolute;
  width: 22px;
  height: 24px;
  left: 30px;
  top: 130px;
}

.appointment-icon{
  position: absolute;
  width: 22px;
  height: 24px;
  left: 30px;
  top: 167px;
}

.symptoms-icon{
  position: absolute;
  width: 22px;
  height: 24px;
  left: 30px;
  top: 204px;
}

.alert-icon{
  position: absolute;
  width: 22px;
  height: 24px;
  left: 30px;
  top: 241px;
}

.table-content{
  position: absolute;
  width: 1065px;
  height: 407px;
  left: 269px;
  top: 320px;
}

.user-text{
  position: absolute;
  width: 57px;
  height: 29px;
  left: 269px;
  top: 261px;
  
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 29px;
  /* identical to box height */
  
  text-transform: capitalize;
  
  color: #000000;
}

.filter{
  position: absolute;
  width: 40px;
  height: 40px;
  left: 1294px;
  top: 270px;
}

.page{
  position: absolute;
  width: 1065px;
  height: 30px;
  left: 269px;
  top: 730px;
}

.dictation{
  position: absolute;
  width: 68px;
  height: 18px;
  left: 250px;
  top: 80px;
}

.user{
  position: absolute;
  width: 68px;
  height: 18px;
  left: 250px;
  top: 80px;
}

.appointment{
  position: absolute;
  width: 68px;
  height: 18px;
  left: 250px;
  top: 80px;
}

.symptoms{
  position: absolute;
  width: 68px;
  height: 18px;
  left: 250px;
  top: 80px;
}

.alert{
  position: absolute;
  width: 68px;
  height: 18px;
  left: 250px;
  top: 80px;
}

